.profile__edit {
  width: 24px;
  height: 24px;
  background-color: #000;
  border: 1px solid #fff;
  margin-bottom: 9px;
  background-image: url(../../../images/edit.svg);
  background-size: 10px, cover;
  background-position: center;
  background-repeat: no-repeat;
}