.gallery__like {
  width: 22px;
  height: 19px;
  border: none;
  background-image: url(../../../images/like.svg);
  background-color: transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.gallery__like:hover {
  opacity: .5;
  cursor: pointer;
}

.gallery__like:active {
  background-image: url(../../../images/like-active.svg);
  opacity: 1;
}